/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #01010a;
    color: #f3ebeb;
    line-height: 1.6;
}

a {
    color: #a9ccf1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #05013b ;
    color: #ffffff;
    text-align: center;
    padding: 70px 0;
    position:relative;
    overflow: hidden;
    border-style: outset;
}

header img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 150px;
    height: 150x;
    border: 4px solid #d7dce0;
}

header h1 {
    margin: 10px 0;
    font-size: 2.5rem;
}

header .profession {
    font-size: 1.2rem;
    font-style: italic;
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background: #000000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-style: outset;
}

section h2 {
    font-size: 1.8rem;
    border-bottom: 2px solid #000000;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #d1dce7;
}

section p {
    margin: 10px 0;
    font-size: 1rem;
}

/* Skills Section */
.Skills p {
    background: #0819ad;
    padding: 10px;
    border-left: 4px solid #007bff;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* Contact Section */
.contact a {
    font-weight: bold;
    color: #007bff;
}

.contact a:hover {
    color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    background-color: #eff5fa;
    color: #ffffff;
    padding: 10px 0;
    font-size: 0.9rem;

}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header .profession {
        font-size: 1rem;
    }

    section {
        padding: 15px;
    }

    section h2 {
        font-size: 1.5rem;
    }
}
